---
layout: default
title: Projects
description: The main projects that I have created
permalink: /projects/
---

{% for project in site.projects %}
  <div class="row project-div">

    <div class="col-md">
      <a class="project-link" href="{{ project.link }}" target="_blank"><h3>{{ project.name }}</h3></a>
      <p>{{ project.date }}</p>
      <p class="project-p">{{ project.description }}</p>
      {% if project.papername == "View chairSense Research Paper" %}
        <button type="button" class="btn btn-md text"><a class="button_link" href="/{{ project.paper }}" target="_blank">{{ project.papername }}</a></button>
      {% endif %}
    </div>

    <div class="col-md">
      </br>
      <iframe width="100%" height="315" src="{{ project.video }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>    
    </div>
  </div>
{% endfor %}
