<!-- about -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto text-center">
        <p class="font-secondary paragraph-lg text-dark">{{ site.data.settings.blurb }}</p>
        <a href="{{ site.data.settings.blurb-btn-link }}" class="btn btn-transparent" style="padding-top: 0">{{ site.data.settings.blurb-btn-name }}</a>
        <br />
        <a href="https://docs.google.com/document/d/1wdp6i4hQzrOrHJ3F5tNLUjfWV7aWq6WThbARi1IGyx8/export?format=pdf">
          <button style="background-color: black; color: white; border-radius: 4px; font-size: 1.3rem; padding: 10px 20px;">Download Resume</button>
        </a>
        <br />
        <br />
      </div>
    </div>
  </div>
</section>
<!-- /about -->