
<div class="container sticky-bottom">
  <footer class="py-3 my-4">
    <hr>
    <ul class="nav justify-content-center pb-3 mb-3">
      <li class="nav-item">
        <a href="https://github.com/vedant205" target="_blank" class="nav-link px-4 text-muted">
          <i class="bi-github"></i>
        </a>
      </li>
      <li class="nav-item">
        <a href="mailto:vedant.singhania@gmail.com" target="_blank" class="nav-link px-4 text-muted">
          <i class="bi-envelope"></i>
        </a>
      </li>
      <li class="nav-item">
        <a href="https://linkedin.com/in/v-singhania" target="_blank" class="nav-link px-4 text-muted">
          <i class="bi-linkedin"></i>
        </a>
      </li>
    </ul>
  </footer>
</div>