<footer id="footer">
    <!--Footer Button-->
    <div class="container has-text-centered has-background-grey-darker" id="backtotop">
        <a class="has-text-white" onclick="window.scroll(0,0)">BACK TO TOP</a>
    </div>
    <div class="has-background-black has-text-centered has-text-white" id="credits">
        <!-- <i class="far fa-copyright"></i> {{ "now" | date: "%Y" }} | <a href="https://github.com/thedevslot/WhatATheme" target="_blank" rel="noopener noreferrer">Vedant Singhania</a> -->
         <p>&copy; 2024 Vedant singhania</p>
    </div>
</footer>