#content-desktop {display: block;}
#content-mobile {display: none;}

@media screen and (max-width: 900px) {

#content-desktop {display: none;}
#content-mobile {display: block;}

}

body {
	font-family: 'Merriweather', serif !important;
	background-color: black !important;
	color: white !important;
	letter-spacing: 0.5px !important;
}

p {
	font-size: larger !important;
}

.resume {
	width: 75% !important;
	height: 100vh !important;
}

.button_link {
	color: black !important;
	text-decoration: none !important;
}

button {
	background-color: white !important;
}

i {
	font-size: 3rem !important;
	color: white !important;
}

hr {
	color: white !important;
}

.bg_black {
	background-color: black !important;
}

.hover-span:hover {
	border-width: 2px !important;
	border-color: white !important;
}

h1 {
	font-size: 60px !important;
}