body {
  font-family: "Roboto", sans-serif;
  font-style: normal;

  background-color: black;
  color: white;
  letter-spacing: 0.5px;
}

p {
  font-size: 20px;
}

#content-desktop {
  display: block;
}

#content-mobile {
  display: none;
}

@media screen and (max-width: 900px) {

  #content-desktop {
    display: none;
  }

  #content-mobile {
    display: block;
  }

}

img,
iframe,
a {
  position: relative;
  z-index: 10;
}

nav {
  z-index: 9999;
}

button {
  background-color: white !important;
}

i {
  font-size: 3rem;
  color: white;
}

hr {
  color: white;
}

h1 {
  font-size: 60px;
}

.bg_black {
  background-color: black;
}

.hover-span:hover {
  border-width: 2px;
  border-color: white;
}

.project-link {
  text-decoration: none;
  color: white;
}

.project-link:hover {
  text-decoration: underline;
  color: white;
}

.project-div {
  padding: 0% 8%;
  margin-bottom: 3%;
}

.project-p {
  font-size: 1.1rem;
}

.nav-link {
  color: white !important;
}

.resume {
  width: 75%;
  height: 100vh;
}

.button_link {
  color: black;
  text-decoration: none;
}

.button_link:hover {
  color: black;
  text-decoration: underline;
}