---
import LinkBtn from "@/components/LinkBtn.astro";
import PageLayout from "../layouts/PageLayout.astro";
import { paragraphs, resume } from "@/content/data/about.json";
---

<PageLayout title="About" header="About Me">
  {
    paragraphs.map((paragraph) => (
      <>
        <p>{paragraph}</p>
        <br />
      </>
    ))
  }
  <LinkBtn text="View Resume" href={resume} target="_blank" />
</PageLayout>
