---
import PageLayout from "../layouts/PageLayout.astro";
import { paragraphs } from "@/content/data/about.json";
---

<PageLayout title="About" header="About Me">
  {
    paragraphs.map((paragraph) => (
      <>
        <p>{paragraph}</p>
        <br />
      </>
    ))
  }
</PageLayout>
