---
export const prerender = true;
import Post from "@/components/molecules/Post.astro";
import PageLayout from "@/layouts/PageLayout.astro";
import { posts } from "@/content/data/blog.json";
---

<PageLayout title="Blog" header="My Blog">
  <div class="">
    {
      posts.map((project) => (
        <>
          <Post
            title={project.title}
            content={project.content}
            date={project.date}
            slug={`/blog/${project.slug}`}
          />
          <br />
          <br />
        </>
      ))
    }
  </div>
</PageLayout>
