---
import { Button } from "@/components/ui/button";
import Default from "../layouts/Default.astro";
---

<Default title="Home">
  <div
    class="flex flex-col h-[75vh] text-center justify-center items-center pr-10"
  >
    <div class="text-[5rem]">Naya Singhania</div>
    <h1>CS @ SJSU | Fullstack Developer</h1>
    <br />
    <a href="/about">
      <Button><p class="text-xl">About Me</p></Button>
    </a>
  </div>
  <br />
</Default>
