---
import Default from "../layouts/Default.astro"
import { ProjectCard } from "@/components/ProjectCard"
---

<Default title="Projects">
    <h1>Projects</h1>

    <br />
    <br />
    <div class="pr-10">
        <ProjectCard 
        name="Persona.fm" 
        description="A full stack Next.js application that uses the Last.FM API to show users snapshots of their listening habits." 
        href="https://github.com/raspberri05/persona.fm"
    />

    <br />
    <br />

    <ProjectCard 
        name="QuickDev" 
        description="A node.js CLI tool that helps developer quickly setup a new project with a suite of commands" 
        href="https://github.com/raspberri05/quickdev"
    />

    <br />
    <br />

    <ProjectCard 
        name="ChairSense" 
        description="For wheelchair users, it can be hard to see what's behind the chair, especially when backing up or turning, which can be dangerous because there is a high potential to hit an object or person. The aim of this project is to solve that problem by creating a low-cost device that can detect obstacles and warn the wheelchair user so they don't hit objects or people."
        href="https://github.com/raspberri05/chairSense"
    />
    </div>

</Default>