---
const { title } = Astro.props;
---

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{`Naya Singhania | ${title}`}</title>
  <meta name="description" content="My personal website" />
  <link rel="icon" href="/favicon.jpg" />
  <link rel="sitemap" href="/sitemap-0.xml" />
</head>
<!-- Google tag (gtag.js) -->
<script
  type="text/partytown"
  async
  src="https://www.googletagmanager.com/gtag/js?id=G-TFZL7HYSL7"></script>
<script type="text/partytown">
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag("js", new Date());

  gtag("config", "G-TFZL7HYSL7");
</script>
