---
import { Button } from "@/components/ui/button";
const { text, href, size, target = "_self" } = Astro.props;
---

<a href={href} target={target}>
  <Button variant="link"><p class={`text-${size}`}>{text}</p></Button>
</a>
