---
import {
  Card,
  CardContent,
  CardHeader,
  CardTitle,
  CardFooter,
} from "@/components/ui/card";
import LinkBtn from "./LinkBtn.astro";
const { name, description, href } = Astro.props;
---

<Card
  className="dark:hover:bg-zinc-800 hover:bg-zinc-300 dark:bg-zinc-900 bg-zinc-200"
>
  <CardHeader>
    <CardTitle>{name}</CardTitle>
  </CardHeader>
  <CardContent>
    <p>{description}</p>
  </CardContent>
  <CardFooter>
    <LinkBtn text="View on Github" href={href} size="base" target="_blank" />
  </CardFooter>
</Card>
