---
layout: default
---
<!-- page title -->
<section class="page-title-alt bg-primary position-relative">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="text-white font-tertiary">{{ page.title }}</h1>
      </div>
    </div>
  </div>
  <!-- background shapes -->
</section>
<!-- /page title -->

<!-- about -->
<section class="section pt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <p>{{ content }}</p>
        <a href="https://docs.google.com/document/d/1wdp6i4hQzrOrHJ3F5tNLUjfWV7aWq6WThbARi1IGyx8/export?format=pdf">
          <button style="background-color: black; color: white; border-radius: 4px; font-size: 1.1rem; padding: 10px 20px;">Download Resume</button>
        </a>
        <br />
        <br />
        <br />

      </div>
      
      <div class="col-md-4 text-center drag-lg-top">
        <div class="shadow-down mb-4">
          <img src="{{ site.baseurl }}/{{ page.image }}" alt="{{ page.author }}" class="img-fluid w-100 rounded-lg border-thick border-white">
        </div>
        <h4>{{ page.author }}</h4>
        <br />
        <br />
      </div>
    </div>
  </div>
</section>
<!-- /about -->