---
import NavBar from "@/components/molecules/NavBar.astro";
import { ModeToggle } from "@/components/atoms/ModeToggle";
import Footer from "@/components/atoms/Footer.astro";

import "@/styles/globals.css";
import "@fontsource/roboto/500.css";
import BaseLayout from "./BaseLayout.astro";

const { title } = Astro.props;
---

<script is:inline>
  const getThemePreference = () => {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
      return localStorage.getItem("theme");
    }
    return window.matchMedia("(prefers-color-scheme: dark)").matches
      ? "dark"
      : "light";
  };
  const isDark = getThemePreference() === "dark";
  document.documentElement.classList[isDark ? "add" : "remove"]("dark");

  if (typeof localStorage !== "undefined") {
    const observer = new MutationObserver(() => {
      const isDark = document.documentElement.classList.contains("dark");
      localStorage.setItem("theme", isDark ? "dark" : "light");
    });
    observer.observe(document.documentElement, {
      attributes: true,
      attributeFilter: ["class"],
    });
  }
</script>

<BaseLayout title={title}>
  <NavBar />
  <br />
  <div class="container mx-4 md:mx-auto min-h-[79vh]">
    <slot />
  </div>
  <div class="fixed bottom-4 right-4">
    <ModeToggle client:load />
  </div>
  <Footer />
  <br />
</BaseLayout>
